<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="BackendInstaller" Language="1033" Version="1.0.0.0" Manufacturer="Energon Software" UpgradeCode="74df00ec-94c9-43af-8fee-1d7805cbe01d">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate />

        <Feature Id="ProductFeature" Title="BackendInstaller" Level="1">
            <ComponentGroupRef Id="BackendComponents" />
        </Feature>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="BackendInstaller" />
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="BackendComponents" Directory="INSTALLFOLDER">
            <Component Id="AuthenticatorComponent">
                <File Source="$(var.Authenticator.TargetPath)" />
            </Component>
            <Component Id="ChatComponent">
                <File Source="$(var.Chat.TargetPath)" />
            </Component>
            <Component Id="ManagerComponent">
                <File Source="$(var.Manager.TargetPath)" />
            </Component>
            <Component Id="OvermindComponent">
                <File Source="$(var.Overmind.TargetPath)" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>